
.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

nav {
  background-color: #333;
  padding: 15px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a,
nav ul li span {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

nav ul li a:hover {
  text-decoration: underline;
}

input,
button {
  margin: 5px;
}
